body {
    background-color:#2e3a59;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


img {
    height: 90px;
    margin-left: 50px;
    cursor: pointer;
}

.signup-whole-box {
    border: solid;
    width: 65%;
    margin: auto;
    height: 6.5in;
    border-radius: 15px;
    display: flex;
    justify-content: space-between; /* Spread out the content */
    align-items: center; /* Vertically align content */
    background-color:white;
}

.signup-left-box {
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-bottom: 20px;
    width: 55%;
    height: 6.25in;
    text-align: center;
}

.signup-h1 {
    font-size: 3rem;
    padding-top: 0;
    margin: 30px; /* Reset margin to avoid extra space */
    color:#4CAF50;
}

.top-text {
    font-size: 1rem;
    margin-top: -20px;
    margin-bottom: -10px;
}

input {
    width: 340px;
    height: 50px;
    margin-top: 30px;
    padding-left: 20px;
    border-radius: 15px;
    font-size:1rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

form select {
    width: 365px;
    height: 55px;
    margin-top: 30px;
    padding-left: 20px;
    border-radius: 15px;
    border-radius: 15px;
    font-size:1rem;
    border:solid 2px;
    cursor:pointer;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.password {
    -webkit-text-security:circle;
}

.signup-right-box {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 20px;
    width: 45%; /* Adjust width to fit the layout */
    text-align: center;
    padding: 207px 0; /* Center the content vertically */
    background-color:#4CAF50;
}

.welcome-h1 {
    font-size: 3rem;
    color:white;
}

.welcome-description {
    font-size: 1.1rem;
    width: 200px; /* Allow the description to adjust to content width */
    margin: 10px auto; /* Center the description with auto margin */
    color:white;
}

#enter-button {
    background-color:#4CAF50;
    color:white;
    border:none;
    margin-top:10px;
    align-items:center;
    cursor:pointer;
}

#enter-button:hover {
    background-color:lightgray;
}

.star, .pen {
    position:absolute;
}

.star {
    height:150px;
    top:140px;
    left:10.5in;
}

.pen {
    height:200px;
    left:8.5in
}